# OS files
.DS_Store

# Temp and object files
deps
modules.order
Module.symvers
dkms.conf

*.cmd
.module-common.o
*.o
*.ko
*.mod
*.mod.c

# IDE files
.idea/
.vscode/

# sym links created by builds
alsa-hdspe-\d+\.\d+(\.\d+)?
