# OS files
.DS_Store

# Temp and object files
deps
modules.order
Module.symvers

*.cmd
.module-common.o
sound/pci/hdsp/hdspe/*.o
sound/pci/hdsp/hdspe/*.ko
sound/pci/hdsp/hdspe/*.mod
sound/pci/hdsp/hdspe/*.mod.c

# IDE files
.idea/
.vscode/
